@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --Primary-color: #068b1c;
}
body {
  background: #F2F2F2;
 margin: 0;
  font-family: 'Poppins'; 
}

.navbar{
    background: white;
    padding:1em;

    .logo{
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 1.2em;

    }
    span{
        color: var(--Primary-color);
    }

    nav{
    display: none;
   }


 .container{
    display: flex;
    place-content:space-between;
   }    

}

a{
    color: #444444;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section{
    padding: 5em 2em;
}

.Hero{
    text-align: center;
}
.left-col{
    .Subhead{
        text-transform:uppercase;
        font-weight: bold;
        color: grey;
        letter-spacing:.3em;
    }

    h3{
       line-height: 1.3em;
       margin-top: .2em;
    }

    .primary-cta{
        background: var(--Primary-color);
        color:white; 
        text-decoration: none;
        padding:.6em 1.3em;
        border-radius: 5em;
        font-weight: bold;
        display:inline-block;
    }
}


.ingredients{
    background:#20273E ;
    color:white;
    
}
 ul.Ingredients-list{
     margin:0;
     padding-left: .1em;

     li{
         font-size: 1.1em;
         margin:1em; 
         margin-left: 2em;

         &:before{
             content:''; 
             position:absolute;
             height: 20px;
             width: 20px;
             margin-right: .5em;
             left:-2em;
         }
         
     }
 }

  .Prepartion{
         background: var(--Primary-color);
         color:white;
       
     }

     .navbar .nav-item .nav-link {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	color:black;
	text-decoration: none;
	transition: all 0.2s ease;
}
    

h2 {
    color:white;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 100;
}

footer {
    margin-top: 50px;
    background-color:#F2F2F2;
    color:black;
}

footer p {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 20px;
}